@import "tailwindcss";

@layer base {
  body {
    font-family: 'Outfit', sans-serif;
  }
  h1, h2, h3, .font-serif {
    font-family: 'Playfair Display', serif;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
